*.pyc
*.o
*.a
*.so
*.so.1
*.pico
*.bam
*.cram
*.sam_
*.sam
*.tmp
tabix
htsfile
bgzip
src/htslib-1.3/test/ce.fa.tmp.fai
src/htslib-1.3/test/faidx.fa.tmp.fai
src/htslib-1.3/test/fieldarith
src/htslib-1.3/test/hfile
src/htslib-1.3/test/sam
src/htslib-1.3/test/test-regidx
src/htslib-1.3/test/test-vcf-api
src/htslib-1.3/test/test-vcf-sweep
src/htslib-1.3/test/test_view
src/htslib-1.3/version.h
src/htslib-1.3/config.log
src/htslib-1.3/config.status
fermikit/fermi2/fermi2
fermikit/htsbox/htsbox
fermikit/seqtk/seqtk
fermikit/seqtk/trimadap
fermikit/trimadap/trimadap-mt

